# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/
.Rproj.user

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
/*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# Shiny token, see https://shiny.rstudio.com/articles/shinyapps.html
rsconnect/

# Python
*.ipynb_checkpoints
*.pyc

# Mac OS X
.DS_Store

# Data files
*.cpg
*.dbf
*.prj
*.sbx
*.sbn
*.shp
*.shx
*.qix
*.docx
*.zip
*.JPG
*.xlsx
*.txt
*.tsv
*.csv
*.xlsm
datasets/invasive-plants-waterways-occurrences/information/rtf-invasive-plants-waterways-occurrences-v1.0.rtf
datasets/invasive-plants-waterways-occurrences/information/rtf-invasive-plants-waterways-occurrences-v1.0_AVK_FV.rtf
datasets/invasive-plants-waterways-occurrences/information/~$f-invasive-plants-waterways-occurrences-v1.0_AVK_FV.rtf
datasets/invasive-crassula-occurrences/documentation/rtf-invasive-crassula-occurrences-v1.3.rtf
datasets/watervogels-occurrences/datapaper/2019_07_16_Watervogels - Wintering waterbirds in Flanders, Belgium.pdf
datasets/watervogels-occurrences/datapaper/45E59E72.tmp
datasets/watervogels-occurrences/datapaper/82EC77CB.tmp
datasets/watervogels-occurrences/datapaper/Watervogels - Wintering waterbirds in Flanders, Belgium.pdf
datasets/watervogels-occurrences/datapaper/Bibtex.bib
datasets/watervogels-occurrences/datapaper/2020_02_07_38265_lastProof.pdf
*.pdf
datasets/eikenprocessierups-occurrences/data/raw/*csv
datasets/eikenprocessierups-occurrences/data/raw/2022_gegevens_EPR_1.xlsx
datasets/mediteranian-medetara-occurrences/data/

# folders

FolderList.txt
datasets/watervogels-occurrences/localities/localities2022.qmd

# except specific csv
!datasets/eikenprocessierups-occurrences/data/processed/occurrence_no_linebreaks.csv
