datasets/*/data/interim/*
datasets/*/data/processed/*
!datasets/name-server/data/interim/*
!datasets/name-server/data/processed/*
datasets/name-server/notebooks/temp_out.tsv
.DS_Store
*.ipynb_checkpoints
*.pyc
