# File extensions
.DS_Store
*.ipynb_checkpoints
*.pyc
*.cpg
*.dbf
*.prj
*.sbx
*.sbn
*.shp
*.shx
*.qix
*.docx
datasets/invasive-fallopia-occurrences/published/dwca-invasive-fallopia-occurrences-v1.2.zip
datasets/invasive-ruddy-duck-occurrences/scr/vwGBIF_INBO_Rosse_Stekelstaart_events.sql
